In [1]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://tejatanush47:teja47@cluster0.9z0ri.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Create a new client and connect to the server
client = MongoClient(uri)

In [2]:
database=client["youtubecommunity"]

In [3]:
collection=database['session']

In [5]:
data={

    "coursename":"genai",
    "instrutorname":"sunny",
    "modeofsession":"english"
}

In [6]:
data

{'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}

In [7]:
collection.insert_one(data)

InsertOneResult(ObjectId('67a4a8eeab9506ba21d150fc'), acknowledged=True)

In [12]:
all_record=collection.find()

In [13]:
for record in all_record:
    print(record)

{'_id': ObjectId('67a4a8eeab9506ba21d150fc'), 'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}

In [14]:
collection.insert_many(
    [
        {

    "coursename":"genai",
    "instrutorname":"sunny",
    "modeofsession":"english"
},

{

    "coursename":"mlops",
    "instrutorname":"sunnysavita",
    "modeofsession":"english&hindi"
}
        
    ]
)

InsertManyResult([ObjectId('67a4acb4ab9506ba21d150fd'), ObjectId('67a4acb4ab9506ba21d150fe')], acknowledged=True)

In [17]:
class mongodb_operation:

    def __init__(self,client_url: str, database_name: str, collection_name: str=None):
        self.client_url=client_url
        self.database_name=database_name
        self.collection_name=collection_name

    def create_client(self):
        client=MongoClient(self.client_url)
        return client


    def create_database(self):
        client=self.create_client()
        database=client[self.database_name]
        return database
        
    def create_collection(self,collection=None):
        database=self.create_database()
        collection=database[collection]
        return collection

    def insert_record(self,record:dict,collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data)!= dict:
                    raise TypeError("record must be in the dict")
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)

    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path=datafile

        if self.path.endswith('.csv'):
            data=pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data=pd.read_excel(self.path,encoding='utf-8')
            
        datajson=json.loads(data.to_json(orient='record'))
        collection=self.create_collection()
        collection.insert_many(datajson)

In [18]:
client_url =  "mongodb+srv://tejatanush47:teja47@cluster0.9z0ri.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"   # I have created a demo connection for you to understand. You can use your own.
database = "mynewdatabase"
collection_name = "myoldcolumn"

In [19]:
mongo=mongodb_operation(client_url,database,collection_name)

In [20]:
mongo.insert_record({"name":"sunny","designation":"data scientist","salary":"10k"},collection_name)

In [21]:
mongo.insert_record([{"name":"sunny","designation":"data scientist","salary":"10k"},
{"name":"sudhanshu","designation":"sr. data scientist","salary":"150k"},
{"name":"krish","designation":"lead data scientist","salary":"70k"}
],collection_name)